

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

a{
    text-decoration: none;
    color:cornflowerblue;
    line-height:150%;
}

a:hover{
    color:brown;
    text-decoration: none;
}


.content a[href*="http"] {
    background:url('intmark.png') no-repeat right;
    height:35px;
    width:auto;
    display: inline-block;
    padding-right: 40px;
  
}

.content a[href*=".htm"] {
    background:url('browser.png') no-repeat right;
    height:35px;
    width:auto;
    display: inline-block;
    padding-right: 50px;
  
}

.content a[href*=".pdf"] {
    background:url('pdf.png') no-repeat right;
    height:35px;
    width:auto;
    display: inline-block;
    padding-right: 40px;
  
}
nav li{
    display: inline-block;
    margin-right: 40px;

}

nav li a{
    text-decoration: underline red;
   
}

p {
    line-height: 25px;
}
ul {
    list-style-type: none;
    padding:10px;
    line-height: 200%;
}

footer{
margin-top: 40px;
}

.quote {
    font-weight: 200%;
    font-family: 'Allison', cursive;
    font-size: 150%;
    color:rgb(75, 112, 180)
}