.wrapper { 
  width: 100%; 
  background-color: #eecccc; 
  font-size: 1.2rem;
}
.header {
	width: 100%;
}

.header h1 {
	font-size: 2.5rem;
	color: #2f2828;
}

.nav {
	width: 100%;
	background-color: #fbf4f4;
	font-size: 1rem;
	padding: 0.2rem;
}

.nav ul li {
	display: inline-block;
	width: 10rem;
	margin-right: 0.2rem;
	border-radius: 5px;
	border: 1px solid transparent;
	background-color: #eecccc;
	color: #2f2828;
}

.col1 {
  float: left; 
  width: 50%; 
  background-color: #2f2828; 
  color: #eecccc; 
}
.col2 {
  float: left; 
  width: 25%; 
  background-color: #eecccc; 
  color: #2f2828; 
}
.col2 h2 {
  color: black;
}
.col3 {
  float: left; 
  width: 25%; 
  background-color: #2f2828; 
  color: #eecccc; 
}
.footer {
  width: 100%; 
  background-color: #eecccc; 
  font-size: 0.9rem; 
}