#nav a {
    display:inline-block;
    width:120px;
    height:45px;
    line-height: 45px;
    text-decoration: none;
    background-color: #990000;
    color:white;
    text-align: center;
    margin-right:10px;
    border-radius: 10px;
}

#nav {
   text-align: center;
}

img {
    float:left;
}

#footer {
    clear:both;
    background-color: #990000;
    text-align: center;
    font-size: 65%;
    font-weight: bold;
    color: white;
    height: 50px;
    line-height: 50px;

}

.initial-letter {
    color: #990000;
    font-size: 250%;
}